<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>netprotocol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>273DEC8E1D6143F1007DA123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273DECA71D6143F2007DA123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273DECB21D6143F2007DA123</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
